<img src="../../assets/banner.png" class="img-fluid" alt="Responsive image">
<div class="container">
  <table class="table table-striped table-bordered">
    <thead class="custom-header-bg">
      <tr>
        <th>Nombre Común</th>
        <th>Tipo</th>
        <th>Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planta of plantas">
        <td>{{ planta.nombre_comun }}</td>
        <td>{{ planta.tipo }}</td>
        <td>{{ planta.clima }}</td>
      </tr>
    </tbody>
  </table>
</div>
